$primary-color: #FFFFFF;
$secondary-color: #2196F3;
$hover-color: #F1FCFF;
$background-color: #F3F7FA;
$text-primary-color: #4A4A4A;
$text-secondary-color: #A0B0B9;
$checkbox-border-color: #9ABBCE;

$border-style: 1px solid #DFE5EC;
$box-shadow: 0px 2px 8px 0px #0000001A;
$hover-shadow: 2px 7px 10px rgba(0, 0, 0, 0.2);
$transition-opacity-shadow: box-shadow 0.3s ease, opacity 0.3s ease;
$button-active-opacity: 0.3;
