@import "../../styles/variables"; 

.ticket-info { 
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  text-transform: uppercase;
  justify-content: space-between;
  font: 600 12px/18px 'Open Sans';
  letter-spacing: 0.5px;
  text-align: left;
}

*.ticket-info-direction,
*.ticket-info-time,
*.ticket-info-connections {
  width: 141px;
  height: 39px;
}

*.ticket-info-that-way,
*.ticket-info-return {
  display: flex;
  width: 462px;
  height: 39px;
  justify-content: space-between;
}

.ticket-info-title {
  color: $text-secondary-color;
}

.ticket-info-value__lover-case {
  text-transform: lowercase;
}